# Título do Notebook: Introdução à Ciência de Dados

## Introdução

Este notebook tem como objetivo fornecer uma visão geral sobre a ciência de dados, incluindo linguagens de programação, bibliotecas, ferramentas, e exemplos básicos de operações aritméticas. Ele servirá como uma base para quem está começando na área de ciência de dados.

## Linguagens de Ciência de Dados

1. Python
2. R
3. Julia
4. SQL
5. Scala

## Bibliotecas de Ciência de Dados

1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. TensorFlow
7. Keras
8. PyTorch

## Ferramentas de Ciência de Dados

| Ferramenta        | Descrição                                      |
|-------------------|------------------------------------------------|
| Jupyter Notebook  | Ambiente interativo para desenvolvimento       |
| RStudio           | IDE para programação em R                      |
| Apache Hadoop     | Framework para processamento de grandes dados  |
| Apache Spark      | Motor de processamento de dados em larga escala|
| Tableau           | Ferramenta de visualização de dados            |
| Power BI          | Ferramenta de business intelligence            |

## Exemplos de Expressões Aritméticas

1. Adição: 3 + 5 = 8
2. Subtração: 10 - 2 = 8
3. Multiplicação: 4 * 7 = 28
4. Divisão: 20 / 4 = 5
5. Exponenciação: 2 ** 3 = 8
6. Módulo: 10 % 3 = 1

In [2]:
# Multiplicação
resultado_multiplicacao = 6 * 7
print("Resultado da multiplicação: ", resultado_multiplicacao)

# Adição
resultado_adicao = 6 + 7
print("Resultado da adição: ", resultado_adicao)

Resultado da multiplicação:  42
Resultado da adição:  13

In [3]:
# Conversão de minutos para horas
minutos = 150
horas = minutos / 60
print(f"{minutos} minutos equivalem a {horas} horas")

150 minutos equivalem a 2.5 horas

## Objetivos

1. Entender as principais linguagens de programação usadas em ciência de dados.
2. Conhecer as bibliotecas essenciais para análise e visualização de dados.
3. Familiarizar-se com ferramentas populares de ciência de dados.
4. Realizar operações aritméticas básicas em Python.
5. Converter unidades de tempo de forma programática.

## Autor

Nome: Yuri Shiroiva